.filterBar {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  /*border: 1px solid #ddd;*/
  border-radius: 8px;
  background-color: var(--subtle-color);
}

.button {
  background-color: var(--surface-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);

  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: normal;
  /*transition: all 0.1s ease;*/
}

.button:hover {
  background-color: var(--hover-bg);
  border-color: var(--border-strong-color);
}

.button.active {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-color: var(--primary-color);
  font-weight: bold;
}
